html, body {
  width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: hidden;
}

.nav_block { 
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.info_block { 
  display: block;
  width: 100%;
  padding: 8px 8px 0px 8px;
  margin: 0px;
}

.nav_block h2 { margin-top: 6px; }
.nav_block h3 {
  margin: 0px;
  padding: 7px;
  font-size: 18px;
  height: 34px;
  text-align: center;
  background-color: #111;
  color: #a3a3a3;
}

.info_block h4 {
  margin-top: 7px;
  margin-bottom: 7px;
}

#nav_title { 
  height: 85px;
  border-bottom: 1px solid #111;
}

#nav_showing { 
  height: 190px;
  border-bottom: 1px solid #111;
  overflow: hidden;
}

#nav_other { 
  height: calc(100% - 85px - 190px - 105px);
  border-bottom: 1px solid #111;
}

#other_eclipses {
  height:calc(100% - 34px);
  overflow-y: auto; overflow-x: hidden;
}

#nav_credits { 
  font-size: 80%;
  height: 105px;
}

@media (max-width: 639px) {
  #navContainer {
    display: none;
  }
  #cesiumContainer { 
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height:100%; 
  }
}

@media (min-width: 640px) {
  #navContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 320px;
    border-right: 2px solid #111;
    overflow: hidden;
  }
  #cesiumContainer { 
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(100% - 320px);
    height:100%; 
  }
}

tr.eclipse { 
  cursor: pointer;
}

tr.decade { 
  cursor: pointer;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #a8a8a8;
}

tr.decade.collapsed {
  color: #a8a8a8;
}

tr.decade.expanded td span:before { content: "▲"; padding-right: 15px; }
tr.decade.expanded td span:after { content: "▲"; padding-left: 15px; }
tr.decade.collapsed td span:before { content: "▼"; padding-right: 15px; }
tr.decade.collapsed td span:after { content: "▼"; padding-left: 15px; }

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?jydsb7');
	src:url('fonts/icomoon.eot?#iefixjydsb7') format('embedded-opentype'),
		url('fonts/icomoon.woff?jydsb7') format('woff'),
		url('fonts/icomoon.ttf?jydsb7') format('truetype'),
		url('fonts/icomoon.svg?jydsb7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
	content: "\e953";
}

.icon-regions:before {
	content: "\e9c9";
}

.icon-type:before {
	content: "\e9d6";
}
